section{
    width: 100%;
    height: 100%;
}
.back{
    display: none;
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 1em;
    /* box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.2); */
}

.product-tumbs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-tumbs img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #e2e2e2;
}
.product.active img{
    height: 80vh;
}
.product-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 40px;
}
.product-description{
    margin-bottom: 1em;
}
.product-description h2{
    font-size: 2em;
}
.product-variations{
    display: flex;
    gap: 20px;
}
.product-variations img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #e2e2e2;
}
.product-size{
    display: flex;
    gap: 20px;
}
.product-size button{
    padding: 10px 40px;
}
.product-size button:hover{
    background-color: #2a3eaf;
    color: #fff;
}
.product-amount{
    display: flex;
    align-items: center;
    gap: 10px;

}
/* cfg btn inputs qtd */
.less{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-amount input{
    padding: 0.7em;
    border-radius: 10px;
}
.more{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-btn{
    display: flex;
    gap: 40px;
}
.product-add-cart{
    width: 200px;
}
.product-buy{
    background-color: #0cb44ce1;
    color: #fff;
    box-shadow:  3px 5px 10px 1px rgba(0, 0, 0, 0.1);
    width: 200px;
}